= simple_form_for @project do |form|

  %div.mb-3
    = form.input :name, label: "Název", error: "Název je povinný", class: 'form-control'

  %div.mb-3
    = form.input :description, as: :text, label: "Popis", class: 'form-control'

  %div
    = form.submit 'Uložit', { class: 'btn btn-success' }
