<h1>Editing project</h1>

<%= render "form", project: @project %>

<br>

<div>
  <%= link_to "Show this project", @project, { class: "btn btn-primary" } %>
  |
  <%= link_to "Back to projects",
  projects_path,
  { class: "btn btn-outlined-secondary" } %>
</div>
