%h1 Upravit projekt

= render 'form', project: @project

%br

%div

  = link_to 'Zobrazit', @project, { class: 'btn btn-outlined-secondary' }

  = link_to 'Zpět na výpis', :back, { class: 'btn btn-outlined-secondary' }
